name: pub_stats_collector
publish_to: none

environment:
  sdk: ^3.8.0

resolution: workspace

dependencies:
  pub_stats_core:
    path: ../pub_stats_core
  firebase_js_interop: ^0.0.10
  pub_api_client: ^3.1.1
  discord_interactions: ^0.0.24
  flutter_tools_task_queue: ^1.0.0
  recase: ^4.1.0
  path: ^1.9.0
  http: ^1.3.0
  dio: ^5.7.0
  fetch_client: ^1.1.2
  meta: ^1.16.0

dev_dependencies:
  rexios_lints: ^15.0.0
